# List of commands. Insert one per line.
# Example: command=value or command="value".
# Use {username} in the description to mention the message author.

commands="{username} try to write !bot."
bot="{username} go to https://github.com/vitorleonel/twitch-chatbot and see the bot's source code."
